.btn {
  height: 50px;
  border: 1px solid #fff;
  font-size: 20px;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 0;
  transition: 1s;
  opacity: 0; /* Inicialmente sin opacidad */

  /* Añadido un retraso de 0.5 segundos a la animación de aparición */
  animation: lava-lamp 4s infinite alternate-reverse,
    slide-up 1.5s ease-out 0.5s forwards;
}

.btn::before,
.btn::after {
  position: absolute;
  background: var(--body-background-color);
  z-index: -1;
  transition: 1s;
  content: "";
}

.btn::before {
  height: 50px;
  width: 130px;
}

.btn::after {
  width: 150px;
  height: 30px;
}

.btn:hover::before {
  width: 0px;
  background: #fff;
  color: #000;
}

.btn:hover::after {
  height: 0px;
  background: #fff;
  color: #000;
}

.btn:hover {
  background: #fff;
  color: #000;
}

@keyframes lava-lamp {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 100% 0;
  }
}

@keyframes slide-up {
  to {
    transform: translateY(0);
    opacity: 1; /* Aparición gradual con opacidad */
  }
}
