---


---

<footer class="flex absolute w-full justify-end bottom-0">
    <div class="flex flex-col items-end text-1xl m-2 font-bold right-0 text-white">
        <div>
            vALPHA_1.0
        </div>
    </div>
</footer>