---
import OptionButton from "./react/OptionButton";
---

<nav
  class="navBar px-8 py-4 flex flex-row fixed top-0 w-full items-center justify-between"
>
  <div>
    <a href="/">
      <img src="src/assets/book_icon.png" width={50} height={25} />
    </a>
  </div>
  <div>
    <a href="/" class="neon-line text-xl pb-2">Home</a>
    <a href="/stories" class="neon-line text-xl pb-2">Stories</a>
    <a href="/profile" class="neon-line text-xl pb-2">Profile</a>
  </div>
</nav>

<style>
  .navBar {
    animation: fadeIn 0.5s ease-in-out;
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.5); 
  }

  .neon-line {
    position: relative;
    text-decoration: none;
    color: inherit;
    overflow: hidden;
    margin: 0px 10px;
  }

  .neon-line::before {
    content: "";
    position: absolute;
    width: 0;
    height: 1px;
    bottom: 0;
    left: 0;
    background: #fff;
    transition: width 0.2s ease-in-out;
  }

  .neon-line:hover::before {
    width: 100%;
  }
</style>
